# FastAPI settings
SQLITE_DB_PATH=/app/data/db.sqlite
SECRET_KEY=your-secret-key-here
DEBUG=1

# wg-easy settings
WG_HOST=example.com
WG_PORT=51820
WG_DEFAULT_DNS=8.8.8.8

# Nginx and SSL settings
LETSENCRYPT_DIR=./certs