# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
VENV/
env/
ENV/
*.sqlite
data/

# Docker
*.dockerignore
Dockerfile*
build/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Other
*.swo
*.swp
*.swx